@{
    ViewData["Title"] = "Home Page";
}

@*<a asp-controller="account" asp-action=logout>Logout</a>

<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">


                                <div class="product-image">
                                    <a href="/Rehber/Index">
                                        <img src="/image/open-book (1).png" alt="">
                                    </a>
                                </div>
                                <h3>Kayıtları Görüntüle</h3>


                            </div>
                            <br />
                            <div class="single-product-item">

                                <div class="product-image">
                                    <a href="/Rehber/Add">
                                        <img src="/image/send.png" alt="">
                                    </a>
                                </div>
                                <h3>Yeni Kişi Kaydet</h3>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>*@

@*<a asp-controller="account" asp-action=logout>Logout</a>

<div class="p-4 w-75 mx-auto ">
<div class="single-product-item">
    <div class="product-image">
        <a href="/Rehber/Index">
            <img src="/image/open-book (1).png" alt="">
        </a>
    </div>
    <h3>Kayıtları Görüntüle</h3>


</div>
<br />
<div class="single-product-item">

     <div class="product-image">
        <a href="/Rehber/Add">
            <img src="/image/send.png" alt="">
        </a>
    </div>
    <h3>Yeni Kişi Kaydet</h3>

</div>
</div>*@