<h3>Login</h3>
@ViewBag.msg
<form method="post"asp-controller="account" asp-action="login">
    Username <input type="text" name="username"/>
    <br />
     Password <input type="password" name="password"/>

     <br />
    <input type="submit" value="Login"/>

   <a href="Account/Register/" class="btn btn-success">Register</a>

</form>