<h3>Welcome @ViewBag.username</h3>
<a asp-controller="account" asp-action=logout>Logout</a>

<div class="p-4 w-75 mx-auto ">
<div class="single-product-item">
    <div class="product-image">
        <a href="/Rehber/Index">
            <img src="/image/open-book (1).png" alt="">
        </a>
    </div>
    <h3>Kayıtları Görüntüle</h3>


</div>
<br />
<div class="single-product-item">

     <div class="product-image">
        <a href="/Rehber/Add">
            <img src="/image/send.png" alt="">
        </a>
    </div>
    <h3>Yeni Kişi Kaydet</h3>

</div>
</div>